<a href="https://colab.research.google.com/github/Sufiyanyoonus/assignments/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Write a Python program to sum all the items in a list.

In [ ]:
numbers=[1,2,3,4,5]
total=sum(numbers)              ##sum function for adding all
print(f"the sum of all number in this list  {numbers} is :{total}")

the sum of all number in this list  [1, 2, 3, 4, 5] is :15

## 2. Write a Python program to get the largest number from a list.

In [ ]:
numbers=list(range(1,16))
numbers.sort()       #sor function to make an ascending order
print(numbers)
print("the largest numbers is :",numbers[-1]) #  after ording in ascending the last number will be the largest number so for getting that negative index will get the last number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
the largest numbers is : 15

##3.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
words=["madam","wow","mom","india","malayalam"]     #make a list which first and last characters(alphabets) are same
count=0                                             # initilase the count as zero
for word in words:
 if len(word) >=2 and  word[0]==word[-1]:           #if the length of word is greater than 2 and last and first  characetrs are same
  count+=1
print(f"the number of string which characters are saem in fist and last is: {count}")

the number of string which characters are saem in fist and last is: 4

In [ ]:
samples=['abc', 'xyz', 'aba', '1221'] #create a list
count=0 #
for sample in samples:
    if len(sample)>=2 and sample[0]==sample[-1]: # if the length of the sample is graeter than 2 and the first and last numbers are same
      count+=1 # it will count as 1
print(f"the number of string which characters are saem in fist and last is: {count} ") #print

the number of string which characters are saem in fist and last is: 2

##4.Write a Python program to remove duplicates from a list.

In [ ]:
numbers = [1, 3, 4, 5, 1, 3, 4, 5, 9, 10, 11]
#  remove duplicates using set
new_list=list(set(numbers)) # we are converting list into a set because the set will not allow duplicates after that we will convert it into list
print("the list with duplicate is :",numbers) # print the list with duplicate
print("the list without duplicates is :",new_list) # print the list with without duplicate

the list with duplicate is : [1, 3, 4, 5, 1, 3, 4, 5, 9, 10, 11]
the list without duplicates is : [1, 3, 4, 5, 9, 10, 11]

##5.Write a Python program to check if a list is empty or not.

In [ ]:
l=[1,2,3,4,5,6,1]
#l=[] # use this to check with empty list
if len(l)==0: # if the length of an list is 0 there will be no elements in lest
  print("the list has no elements")
else:
  print("the list has elements",l)

the list has elements [1, 2, 3, 4, 5, 6, 1]

##6. Write a Python program to filter the list if the length of the character is < 4
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']

In [ ]:
words=["abc","xyz","aba""1234"]
filtered_words=[] # create a empty list
for word in words:
  if len(word)<4: # for finding the length of the word is less than 4 or not
   filtered_words.append(word) # use append function to add the iterated elements to empty list

if filtered_words:
  print("elemets which is lesser than 4",filtered_words)   # print the filterd list
else:
    print("there are no elements with more than 3 character",words)

elemets which is lesser than 4 ['abc', 'xyz', 'aba']

##7.Write a Python program to find the second largest number in a list.

In [ ]:
l=[1,2,3,4,5,6,7,8,11,15,12,18] # create a list
l.sort() #using sort function we can sort the list in ascending order
print(l) #print the list
print("the secomd largest number is :",l[-2]) #print the second largest number usimg the negative index

[1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 15, 18]
the secomd largest number is : 15

##8. Write a Python program to reverse a list at a specific location.

In [8]:
y_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("Original list:", y_list)
start_index=2
end_index=8
y_list[start_index:end_index+1]=y_list[start_index:end_index+1][::-1]
print("the reversed list from {} to {} is ".format(start_index,end_index))
print(y_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
the reversed list from 2 to 8 is
[1, 2, 9, 8, 7, 6, 5, 4, 3]

##9. Write a Python program to reverse a list at a specific location.

In [ ]:
palindromes=["mam","malayalam","radar","india"]
for palindrome in palindromes:
  if palindrome==palindrome[::-1]:
       print(palindrome,"is  a palindrome")
  else:
       print(palindrome,"is not a palindrome ")

mam is  a palindrome
malayalam is  a palindrome
radar is  a palindrome
india is not a palindrome

##10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
set1={1,3,4,8,9,10,12,} #create a set
set2={2,4,6,5,3,8,15,17,19,20} # create second set
print("set1:",set1)
print("set2:",set2)
set3=set1.union(set2) # make a set3 by compiling two sets using union function
print("union of two sets:",set3)
set3=set1.intersection(set2) # make a set by using intesection functoion
print("intersection of two sets:",set3)

set1: {1, 3, 4, 8, 9, 10, 12}
set2: {2, 3, 4, 5, 6, 8, 15, 17, 19, 20}
union of two sets: {1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 17, 19, 20}
intersection of two sets: {8, 3, 4}

##11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
my_dict = {'apple': 5, 'banana': 3, 'cherry': 9, 'date': 1}
sorted_dict_asc=dict(sorted(my_dict.items(), key=lambda item:item[1]))
sorted_dict_desc=dict(sorted(my_dict.items(), key=lambda item:item[1],reverse=True))
print("Sorted dictionary by value in ascending order:", sorted_dict_asc)
print("Sorted dictionary by value in descending order:", sorted_dict_desc)

Sorted dictionary by value in ascending order: {'date': 1, 'banana': 3, 'apple': 5, 'cherry': 9}
Sorted dictionary by value in descending order: {'cherry': 9, 'apple': 5, 'banana': 3, 'date': 1}

##12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
fruits= {'apple': 5, 'banana': 3, 'cherry': 9, 'date': 1}

##13.Write a Python program to sum all the values in a dictionary.

In [ ]:

my_dictionary = {'a': 10, 'b': 20, 'c': 30}
def sum_dictitonary_values(dictionary):
  total=0
  for value in dictionary.values():
    total+=value
  return total

result=sum_dictitonary_values(my_dictionary)
print("the sum of all the values in the dictionary is :",result)

the sum of all the values in the dictionary is : 60

##14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [ ]:
number=int(input("enter a number :"))
def square_numbers(n):
  if n<10:
    result_dict={}
    for i in range(1,n+1):
     result_dict[i]=i**2
    return result_dict
  else:
   return("the number should be less than 10")

result=square_numbers(number)
print("dictionary with numbers and squares",result)

enter a number :5
dictionary with numbers and squares {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

##15.Write a Python program to sort a given dictionary by key.

In [ ]:
my_dict = {'b': 3, 'c': 1, 'a': 2}
sorted_dict={k :my_dict[k] for k in sorted(my_dict)}
print("sorted dictonries by keys:",sorted_dict)

sorted dictonries by keys: {'a': 2, 'b': 3, 'c': 1}