<a href="https://colab.research.google.com/github/Sufiyanyoonus/assignments/blob/main/assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Exercise 1: Create a function with a default argument
##Write a program to create a function show_employee() using the following conditions.
##It should accept the employeeâ€™s name and salary and display both.
##If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary= 9000):
  print(f"the name of the employe is :{name}")
  print(f"the salary of the employee is :{salary}")

show_employee("arijith",12000)
show_employee("jasee")

the name of the employe is :arijith
the salary of the employee is :12000
the name of the employe is :jasee
the salary of the employee is :9000

#Exercise 2: Create an inner function to calculate the addition in the following way
##Create an outer function that will accept two parameters, a and b
##Create an inner function inside an outer function that will calculate the addition of a and b
##At last, an outer function will add 5 into addition and return it

In [ ]:
def my_function(a,b):
  def inner_function():
     return a+b

  addition=inner_function()
  result=addition+5
  return result

my_function(5,5)

15


#Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
even_numbers=list(filter(lambda x:x%2==0,range(4,31)))
print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

#Exercise 4: Lambda Function to Check if value is in a List
##Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


###Input  : L = [1, 2, 3, 4, 5]
          element = 4
###Output :  Element is Present in the list

###Input :  L = [1, 2, 3, 4, 5]
          element = 8
###Output :  Element is NOT Present in the list

In [ ]:
L = [1, 2, 3, 4, 5]
number=int(input("enter a number:"))
result=list(filter(lambda x:x==number,L))
if result:
  print(f"element={result}")
else:
  print("the numbers is not in the list")

enter a number:4
element=[4]

In [ ]:
L = [1, 2, 3, 4, 5]
number=int(input("enter a number:"))
result=list(filter(lambda x:x==number,L))
if result:
  print(f"element={result}")
else:
  print("the numbers is not in the list")

enter a number:8
the numbers is not in the list

#Exercise 5: Sort list of tuples with their sum
##Sort the points based on their sum of elements in the tuples

##points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1, 2), (5, 3), (0, 7), (3, 1)]
sorted_points=sorted(points ,key=lambda x:sum(x))
print(sorted_points)

[(1, 2), (3, 1), (0, 7), (5, 3)]

#Exercise 6 :
##Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def finding_even():
  all_even=[]
  for number in range(1000,3001):
    str_number=str(number)
    if all(int(digit) %2==0 for digit in str_number ):
     all_even.append( str_number)
  return all_even

result=finding_even()
print(result)

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

#Exercise 7 :
#Write a python function that accepts a sentence and calculate and return the number of letters and digits.
##Suppose the following input is supplied to the program:
##hello world! 123
##Then, the output should be:
##LETTERS 10
##DIGITS 3

In [ ]:

def sentence(order):
  letters=0
  digits=0
  for char in order:
    if char.isalpha():
      letters +=1
    elif char.isdigit():
      digits +=1
  return {"letters":letters,"DIGITS":digits}


order="he45454654"
result=sentence(order)
print(result)

{'letters': 2, 'DIGITS': 8}

#Exercise 8  MAP:
##Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def uppercase(lowercase): # make the
  upper=lowercase.upper()
  lower=lowercase.lower()

  seen=set()
  result=[]

  for char in upper and lower:
   if char not in seen:
    seen.add(char)
    result.append(char)


  return''.join(result)




lowercase="dslsmsndJJJSJJSl"
result=uppercase(lowercase)
print(result)

dslmnj

#Exercise 9 MAP:
## Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
x=1,2,3,4,5,6
y=7,8,9,10,11,12

def add(a,b): # create the function
  return a+b # return the sum

addition=list(map(add,x,y)) # using map function we can each elements

def sub(a,b): # make a function
  return a-b # return the difference

substraction=list(map(sub,x,y))   # substract it using the map function we can substrct each elemts

print(" element wise addition",addition) #print the addition
print("differnce",substraction) # print the substraction

 element wise addition [8, 10, 12, 14, 16, 18]
differnce [-6, -6, -6, -6, -6, -6]

#Exercise 10 Filter:
##Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
##Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [ ]:
students = {
    'Cierra Vega': (6.2, 71),
    'Alden Cantrell': (5.9, 65), # dict
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox': (5.8, 66)
}
filtered=dict(filter(lambda item:item[1][0] >6 and item[1][1] >70 ,students.items())) #using  filter function and lambda function give the conditions
print("Height> 6ft and Weight> 70kg:")
print("the person is :",filtered) # print the result which satisfy the conditions

Height> 6ft and Weight> 70kg:
the person is : {'Cierra Vega': (6.2, 71)}

#Exercise 11 Filter:
##Write a Python program to remove all elements from a given list present in another list using lambda.
###Original lists:
###list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
###list2: [2, 4, 6, 8]
###Remove all elements from 'list1' present in 'list2:
###[1, 3, 5, 7, 9, 10]

In [ ]:
list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #list 1
list2= [2, 4, 6, 8] #list 2
filtered=list(filter(lambda x:x not in list2,list1)) # using filter function filter the data using lambda function
print("The elements is list1 is not repeated in list2",filtered) # print

The elements is list1 is not repeated in list2 [1, 3, 5, 7, 9, 10]

#Exercise 12 Reduce:


##Write a Python program to calculate the product of a given list of numbers using lambda.
##list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##Product of the said list numbers 3628800

In [ ]:
import functools # import the reduce function
print(functools.reduce(lambda x,y:x*y,[1,2,3,4,5,6,7,8,9,10] )) # using lambda functionn gave the conditions aand iterable

3628800

#Exercise 13 Reduce:


##Write a Python program to multiply all the numbers in a given list using lambda.
##Original list:
##[4, 3, 2, 2, -1, 18]
##Mmultiply all the numbers of the said list: -864

In [ ]:
print(functools.reduce(lambda x,y:x*y,[4, 3, 2, 2, -1, 18])) # usnig reduce give the conditions in lambda function and then give the iterable

-864

#Exercise 14 Reduce:


##Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
##Original Tuple:
##((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
##Average value of the numbers of the said tuple of tuples:
##(30.5, 34.25, 27.0)

In [ ]:
from functools import reduce
tuples = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

average=functools.reduce(lambda x,y:tuple((a+b)/2 for a,b in zip(x,y)),tuples)
print(average)

(25.75, 27.875, 19.5)



#Exercise 15:


##Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
##Original list:
##[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
##sort the said mixed list of integers and strings:
##[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [4]:

elements=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
integers=[] # for intetgers make an empty list
strings=[] # for strings make an empty list

for x in elements: #iterate elements using loop
  if type(x)==int: # if the type is int
    integers.append(x) # it will append to integers

for x in elements: # iterate using loop
  if type(x)==str: # if the type is string
    strings.append(x) # it will append to strings

sorted_int=sorted(integers) # sort the inetgers
sorted_str=sorted(strings) # sort the strings
sorted_elements=sorted_int+sorted_str # add  the sorted elments and we will get in order
print("sorted elememts is :",sorted_elements)    # print

sorted elememts is : [1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

#Exercise 16:
##Write a Python program to count the occurrences of items in a given list using lambda.
##Original list:
##[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
##Count the occurrences of the items in the said list:
##{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [7]:
l=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

#dict comprehension method
count_dict={x:l.count(x) for x in l } #output/ loop/ condition and count function for counting

print("Count the occurrences of the items in the said list:") #print
print(count_dict)

Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

#Exercise 17:


##Write a Python program to remove None values from a given list using the lambda function.
##Original list:
##[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
##Remove None value from the said list:
##[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [23]:
l = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

integers = list(filter(lambda x: isinstance(x, int), l)) # isinstance will look x is integer ir not and using filter we can remove none values and using list function we will get the list
print(integers)

[12, 0, 23, -55, 234, 89, 0, 6, -12]