<a href="https://colab.research.google.com/github/Sufiyanyoonus/assignments/blob/main/Assignment_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercise 1  
##Write Python code that prints your name, student number and email address.  
An example runs of the program:  
Bob
ST1001
bob@gmail.com

In [34]:
def student_info(name,student_number,email): #define the fuunction
 print(name,student_number,email) # print the function

student_info("bob","ST1001","bob@gmail.com") #call the function

bob ST1001 bob@gmail.com

##Exercise 2
##Write Python code that prints your name, student number and email address using escape sequences.     
An example runs of the program:
Bob
ST1001
bob@gmail.com

In [5]:
def student_info(name,student_number,email):
  print(f"{name}\t,{student_number}\t,{email}\t") #using escape sequence \t

student_info("bob","ST1001","bob@gmail.com")

bob	,ST1001	,bob@gmail.com


##Exercise 3
##Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:  
##14 + 7 = 21
##14 * 7 = 98
##14 – 7 = 7
##14 / 7 = 2

In [15]:
def mathematics(n1,n2): #define function by variables
  sum=n1+n2 # add the variables
  sub=n1=n2 #substract the variables
  div=n1/n2 #divide the variables
  mul=n1*n2 #multiply the variables
  print(sum) #print
  print(sub)
  print(div)
  print(mul)
mathematics(14,7) # call the function by giving the variables

21
7
1.0
49

##Exercise 4
##Write Python code that displays the numbers from 1 to 5 as steps.
An example runs of the program:
##1
##2
##3
##4
##5

In [21]:
def numbers(): #define function
  sum=0

  for i in range (1,6) : #using loop print the 5 numbers in different line
    print(i)

numbers()

1
2
3
4
5

##Exercise 5
##Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
An example runs of the program:  
##"SDK" stands for "Software Development Kit", whereas
##"IDE" stands for "Integrated Development Environment".

In [24]:
def full_sentence(): # define function
  print("\"SDK\"stands for \"Software Devolopment Kit,whereas\n\"IDE\"stands for \"Integrated Devolopment Enviorment") #using escape sequence\" we can write coma in the sentence and using escape sequence \n we can write the new line
full_sentence()   #call function

"SDK"stands for "Software Devolopment Kit,whereas
"IDE"stands for "Integrated Devolopment Enviorment

##Exercise 6
##Practice and check the output
###print("python is an \"awesome\" language.")
###print("python\n\t2023")
###print('I\'m from Entri.\b')
###print("\65")
###print("\x65")
###print("Entri", "2023", sep="\n")
###print("Entri", "2023", sep="\b")
###print("Entri", "2023", sep="*", end="\b\b\b\b")

In [29]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print("\'I\'m from Entri\b'")
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
'I'm from Entri'
5
e
Entri
2023
Entri2023
Entri*2023

##Exercise 7
##Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
###num=23
###textnum="57"
###decimal=98.3

In [31]:
num=23
textnum="57"
decimal=98.3
print(f"the type of num:{type(num)}") # using type funvtion we can get the type
print(f"the type of textnum: {type(textnum)}")
print(f"the type of decimal {type(decimal)} ")

textnum=int(textnum) #convert the string into int for adding
sum=num+textnum+decimal #sum
print(f"the sum={sum}") #print the sum
print(f"the type of the sum={type(sum)}") # print the type using type function

the type of num:<class 'int'>
the type of textnum: <class 'str'>
the type of decimal <class 'float'>
the sum=178.3
the type of the sum=<class 'float'>

##Exercise 8
##calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
###(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hou

In [36]:
def minutes_in_a_year(): # define function
 no_of_days=365
 hours_in_day=24
 minutes_in_hour=60

 total_minutes_in_year = no_of_days * hours_in_day * minutes_in_hour # formula of total minutes in a year

 print(f"the total number of days ina year :{no_of_days}") #print the days
 print(f"the total numbers of hours in a day is :{hours_in_day}") #print the hours
 print(f"the total numbers of minutes in a hour is: {minutes_in_a_year}") #print the minutes
 print(f"the total minutes ina year is :{total_minutes_in_year}") #print the total minutes in a year

minutes_in_a_year() #call the function

the total number of days ina year :365
the total numbers of hours in a day is :24
the total numbers of minutes in a hour is: <function minutes_in_a_year at 0x78a9491e79a0>
the total minutes ina year is :525600


##Exercise 9
##Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
###An example runs of the program:
###Please enter you name: Tony
###Hi Tony, welcome to Python programming :)

In [39]:
def greetings(): #define function
 name=input("Enter your name :") # get the name from the user
 print(f"Hi{name},welcome to python programming") #print the greetings with name to the user

greetings() #call the function

Enter your name :sufiyan
Hisufiyan,welcome to python programming


##Exercise 10
##Name your file: PoundsToDollars.py
##Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar
###An example runs of the program:
###Please enter amount in pounds: XXX
###£ XXX are $ XXX

In [41]:
def poundstodollars():
  pounds=float(input("enter your money in pounds: £"))
  conversion_rate=1.38
  dollars=pounds*conversion_rate
  print(f"£ {pounds:.2f} are in  ${dollars:.2f}")

poundstodollars()

enter your money in pounds: £1
£ 1.00 are in  $1.38